
<div class="main-container">
  <div class="drop-down-container">Select
    <select [(ngModel)]="selectedItem" (change)="selectedBank($event)">
      <option *ngFor="let item of bankListForDropDown" [ngValue]="item">{{item.ifsc}}</option>
    </select>
  </div>
  <div class="search-container">Search
    <input name="search" type="text" (keyup)="findAction($event)">
    <button (click)="findQuery()">Find</button>
  </div>
  <div class="table-container">
    <table>
      <th class="table-header" *ngFor="let item of tableHeaderList">{{item}}</th>
      <tr *ngFor="let item of bankListForTable">
        <td>{{item.ifsc}}</td>
        <td>{{item.bank_id}}</td>
        <td>{{item.branch}}</td>
        <td>{{item.address}}</td>
        <td>{{item.city}}</td>
        <td>{{item.state}}</td>
        <td>{{item.district}}</td>
        <td>{{item.bank_name}}</td>
      </tr>
    </table>
  </div>
</div>